<%= form_with model: @page do |form| %>
  <div style="margin-top: 1rem">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @page.errors.full_messages_for(:title).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div style="margin-top: 1rem">
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% @page.errors.full_messages_for(:body).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div style="margin-top: 1rem">
    <%= form.submit %>
  </div>
<% end %>

<div style="margin-top: 1rem">
  <%= link_to 'Back', '/' %>
</div>